table {
  width: 80%; 
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #0097a7;
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #00bcd4; 
  color: white;
}

tr:nth-child(even) {
  background-color: #e0f7fa; 
}

tr:hover {
  background-color: #b2ebf2; 
}

tbody tr:first-child td {
  font-weight: bold; 
}
