.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 1em;
    background-color: #e0f7fa; /* Light blue background to give a watery feel */
  }

  table {
    width: 80%; /* Adjust as needed */
    border-collapse: collapse;
    margin-top: 20px;
  }

  th,
  td {
    border: 1px solid #0097a7; /* Border color */
    padding: 8px 12px;
    text-align: left;
  }

  th {
    background-color: #00bcd4; /* Header background color */
    color: white;
  }

  tr:nth-child(even) {
    background-color: #e0f7fa; /* Even rows background color */
  }

  tr:hover {
    background-color: #b2ebf2; /* Row hover background color */
  }

  tbody tr:first-child td {
    font-weight: bold; /* Make the first row text bold */
  }