.container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
.goals {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.goal {
  flex: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.goal:last-child {
  margin-right: 0;
}
.box {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}
.notifications {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}
.notification {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}
.notification-input {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.notification-inputs {
  display: flex;
  place-items: center;
  width: 100%;
}
.notification-input > input {
  width: 3rem;
  height: 3rem;
}
.notification,
.intervals {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intervals > div {
  flex: 1;
  margin-right: 10px;
}

.intervals > div:last-child {
  margin-right: 0;
}
.button {
  margin-top: 1rem;
  padding-bottom: 2rem;
  gap: 2px;
  
}

.view-toggle {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .goals,
  .notification,
  .intervals {
    flex-direction: column;
  }

  .goal,
  .intervals > div {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
