  nav {
    background-color: white;
    color: white;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
  }

  nav button {
    background-color: transparent;
    border: none;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  div {
    margin-top: 2%;
  }
  .nav-icon {
    color: #ccc;
    font-size: 24px;
    transition: color 0.3s;
  }

  .nav-icon.active {
    color: black;
  }
  .content-button {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .button-location {
    position: absolute;
    left: 0;
    top: 10px;
  }